.RegisterCriminal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: var(--main-color);
  border-radius: 5px;
  box-shadow: -3px -3px 7px var(--secondary-color),
    3px 3px 5px var(--tertiary-color);
  margin: 20px;

  height: 700px;
  width: 500px;

  h1 {
    flex: 1;
    font-size: 2rem;
    margin: 0;
    color: rgba($color: #f0f0f0, $alpha: 0.75);
    text-align: center;
    text-shadow: 0px 0px 5px var(--tertiary-color);
  }

  form {
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid rgba($color: #f0f0f0, $alpha: 0.75);
    padding-top: 20px;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      color: rgba($color: #f0f0f0, $alpha: 0.75);
      font-size: 1.5rem;
      text-shadow: 0px 0px 5px var(--tertiary-color);
      margin-bottom: 10px;

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background: var(--secondary-color);
        color: rgba($color: #f0f0f0, $alpha: 0.75);
        font-size: 1.5rem;
        margin-bottom: 10px;
        box-shadow: inset -3px -3px 7px var(--secondary-color),
          inset 3px 3px 5px var(--tertiary-color);
      }
      input[type="file"] {
        cursor: pointer;
      }
      input[type="file"]::-webkit-file-upload-button {
        display: none;
      }
    }

    button {
      background: var(--main-color);
      color: rgba($color: #f0f0f0, $alpha: 0.75);
      box-shadow: -3px -3px 7px var(--secondary-color),
        3px 3px 5px var(--tertiary-color);
      border-radius: 5px;
      padding: 15px 30px;
      font-size: 1.8rem;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background: var(--secondary-color);
        color: rgba($color: #fff, $alpha: 1);
        box-shadow: -3px -3px 7px var(--secondary-color),
          3px 3px 5px var(--tertiary-color);
      }
    }
  }
}

.ViewCriminal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: var(--main-color);
  border-radius: 5px;
  box-shadow: -3px -3px 7px var(--secondary-color),
    3px 3px 5px var(--tertiary-color);
  margin: 20px;

  height: 700px;
  width: 500px;

  h1 {
    flex: 1;
    font-size: 2rem;
    margin: 0;
    color: rgba($color: #f0f0f0, $alpha: 0.75);
    text-align: center;
    text-shadow: 0px 0px 5px var(--tertiary-color);
  }

  form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba($color: #f0f0f0, $alpha: 0.75);
    padding-top: 20px;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: rgba($color: #f0f0f0, $alpha: 0.75);
      font-size: 1.5rem;
      text-shadow: 0px 0px 5px var(--tertiary-color);
      margin-bottom: 10px;

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background: var(--secondary-color);
        color: rgba($color: #f0f0f0, $alpha: 0.75);
        font-size: 1.5rem;
        margin-bottom: 10px;
        box-shadow: inset -3px -3px 7px var(--secondary-color),
          inset 3px 3px 5px var(--tertiary-color);
      }
      input[type="file"] {
        cursor: pointer;
      }
      input[type="file"]::-webkit-file-upload-button {
        display: none;
      }
    }

    button {
      background: var(--main-color);
      color: rgba($color: #f0f0f0, $alpha: 0.75);
      box-shadow: -3px -3px 7px var(--secondary-color),
        3px 3px 5px var(--tertiary-color);
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background: var(--secondary-color);
        color: rgba($color: #fff, $alpha: 1);
        box-shadow: -3px -3px 7px var(--secondary-color),
          3px 3px 5px var(--tertiary-color);
      }
    }
  }

  .View {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 500px;
    margin: 20px;
    border: 2px dashed rgba($color: #f0f0f0, $alpha: 0.75);

    h1 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      color: rgba($color: #fff, $alpha: 0.75);
      text-align: center;
      text-shadow: 0px 0px 5px var(--tertiary-color);
    }

    img{
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    span {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 400px;
      padding: 10px;
      border-radius: 5px;
      border: none;
      background: var(--secondary-color);
      color: rgba($color: #f0f0f0, $alpha: 0.75);
      font-size: 1.5rem;
      margin-bottom: 10px;
      box-shadow: inset -3px -3px 7px var(--secondary-color),
        inset 3px 3px 5px var(--tertiary-color);
    }
  }
}
